
{% extends "inicio/encabezado.html"%}

{% block titulo %} COMENTARIOS {%endblock%}


{%block imagen%}
    {%load static%}
    {%static 'inicio/images/comentarios.png'%}
{%endblock%}

{% block text %}
    Comentarios <span>ALOJA</span>
{% endblock %}

{% block en %}
<!--Encabezado -->
<div class="page-header">
    <div class="page-title">
        <h3>Comentarios
        <small>Lista de Comentarios </small></h3>
    </div>
</div>
<!-- /Encabezado-->
{%endblock%}

{% block contenido %}
    <!--Table de Alumnos-->
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>usuario</th>
                <th>mensaje</th>
                <th>editar</th>
                <th>eliminar</th>
            <tr>
        </thead>
    <tbody>
        {%for comentario in comentarios%}
        <tr>
            
            <td class="text-semibold">{{comentario.usuario}}</td>
            <td class="text-semibold">{{comentario.mensaje}}</td>
            <td class="text-center">
                <a href="{%url 'ConsultaIndividual' comentario.id%}">editar</a>
            </td>
            <td class="text-center">
                <a href="{%url 'Eliminar' comentario.id %}">eliminar</a></td>
            </td>

        </tr>
        {%endfor%}
    </tbody>
</table>

{%endblock%}